@charset "UTF-8";
/* Colores de la página */
body {
  background-color: #f3eeea; }

header {
  background-color: #9e8e94; }

.encabezado-titulo h1 {
  color: #ef8225c4; }

.encabezado-menu a {
  color: #f7d097; }

.encabezado-menu a:hover {
  background-color: #eea435; }

h3 {
  color: #ffa262; }

footer {
  background-color: #9e8e94;
  color: black; }

.redes-titulo {
  color: #f1b458e0; }

.redes-whatsapp-titulo a {
  color: black; }

.redes-facebook-titulo a {
  color: black; }

.redes-instagram a {
  color: black; }

.Productos-destacados-card-titulo h5 {
  color: #d69b43c9; }

.Productos-destacados-card-parrafo p {
  color: grey; }

.title-cards {
  color: #ffa262; }

.card {
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); }

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }

.card .contenido-card h3 {
  color: #7a7a7a; }

.card .contenido-card p {
  color: #6a6a6a; }

.card .contenido-card a {
  color: #2fb4cc;
  border: 1px solid #cc832f; }

.card .contenido-card a:hover {
  background: #dab988;
  color: #fff; }

#dropdownMenuButton1 {
  background-color: #f59b23d6; }

.btn-primary {
  background-color: #f59b23d6;
  border-color: #cc8226; }

/* tipografias */
/* * {
  
    font-family: 'Lato', sans-serif;
} */
.titulo h1 {
  font-family: 'Signika', sans-serif; }

h2 {
  font-family: 'Lato', sans-serif; }

h3 {
  font-family: 'Lato', sans-serif; }

h4 {
  font-family: 'Lato', sans-serif; }

h5 {
  font-family: 'Lato', sans-serif; }

/* MediaQueries */
/* Mapa */
@media only screen and (max-width: 310px) {
  .titulo h1 {
    font-size: 2em; }
  .menu {
    margin-left: 0px; } }

@media only screen and (max-width: 160px) {
  .titulo h1 {
    font-size: 1em; }
  .menu {
    margin-left: 0px; }
  .menu a {
    font-size: 0.75em; }
  .items {
    width: 4rem; }
  .Productos-destacados h3 {
    font-size: 2em; }
  .Productos-destacados-card-titulo h5 {
    font-size: 1em; }
  .Productos-destacados-card-parrafo p {
    color: grey;
    margin-top: 10px; }
  .btn {
    padding: 0; }
  .titulowh h6 {
    font-size: 0.35em; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap; }
  .card {
    margin: 15px; } }

/* Estilo propio del index */
.main-portada-video video {
  width: 100%;
  height: 245px; }

.col-12 {
  padding: 0px; }

.main-productos-productosDestacados-titulo h3 {
  font-size: 50px;
  text-align: center; }

.items {
  width: 8rem; }

.card-body {
  height: 250px; }

.Productos-destacados-card-parrafo p {
  margin-top: 25px; }

/* Estilo de seccion Contacto#ffc107c9 */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif; }

.formulario {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px black;
  position: relative; }

.formulario_titulo {
  text-align: center;
  margin-top: 0;
  color: #ff6e07; }

.formulario_input, .formulario_label, .formulario_submit {
  display: block;
  width: 100%;
  font-size: 1.3em; }

.formulario_input {
  padding: 16px;
  background: rgba(0, 0, 0, 0.09);
  border: 1px solid #f9d291;
  margin-bottom: 40px; }

.formulario_input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.7); }

.formulario_input:focus + .formulario_label {
  margin-top: -135px; }

.formulario_label {
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -20;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s; }

.formulario_submit {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none; }

button {
  background-color: #ecbb70;
  border-color: #dcb456;
  color: #00000061; }

/* Estilos comunes entre las secciones y index */
/* Mapa */
* {
  margin: 0px;
  padding: 0px; }

.encabezado-logo {
  width: 100px;
  height: 100px; }

.encabezado-logo img {
  width: 100%;
  height: 100%; }

.encabezado-titulo h1 {
  text-align: center;
  font-size: 4em; }

.encabezado-menu {
  width: 100%;
  align-items: center;
  margin-left: 11px; }

.encabezado-menu a {
  text-decoration: none;
  font-size: 1.5em; }

.pago {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 25px; }

.pago-efectivo h4, .pago-tarjeta h4, .pago-mercadoPago h4 {
  font-size: 0.75em; }

.pago img {
  width: 40px;
  height: 40px; }

.redes {
  display: grid;
  grid-template-rows: 0% 0% 16% 20% 20%;
  grid-template-columns: 100%;
  grid-template-areas: "titulo"
 "whatshap"
 "facebook"
 "instagram"
 "parrafo";
  grid-row-gap: 32px; }

.redes-titulo {
  grid-area: titulo; }

/* each */
.whatsapp-icon {
  grid-template-rows: 100%;
  grid-template-columns: 16% 5%;
  grid-template-areas: "imagen titulo";
  justify-items: start; }

.facebook-icon {
  grid-template-rows: 100%;
  grid-template-columns: 16% 5%;
  grid-template-areas: "imagen titulo";
  justify-items: start; }

.instagram-icon {
  grid-template-rows: 100%;
  grid-template-columns: 16% 5%;
  grid-template-areas: "imagen titulo";
  justify-items: start; }

.facebook-icon {
  margin-right: 441px; }

.instagram-icon {
  margin-right: 441px; }

.whatsapp-icon {
  grid-area: whatshap;
  display: grid; }

.redes-whatsapp-imagen {
  grid-area: imagen; }

.redes-whatsapp-imagen img {
  width: 40px;
  height: 40px; }

.redes-whatsapp-titulo {
  grid-area: titulo;
  margin-left: 40px;
  font-size: 0.75em; }

.facebook-icon {
  grid-area: facebook;
  display: grid; }

.redes-facebook-imagen {
  grid-area: imagenf; }

.redes-facebook-imagen img {
  width: 40px;
  height: 40px; }

.redes-facebook-titulo {
  grid-area: titulof;
  margin-left: 40px;
  font-size: 0.75em; }

.instagram-icon {
  grid-area: instagram;
  display: grid; }

.redes-instagram-imagen {
  grid-area: imageni; }

.redes-instagram-imagen img {
  grid-area: imageni;
  width: 40px;
  height: 40px; }

.redes-instagram-titulo {
  grid-area: tituloi;
  margin-left: 40px;
  font-size: 0.75em; }

.justify-content-md-center {
  margin-top: 15px; }

/* Estilo propio de las secciones*/
/* Mapa */
/*Cards*/
.container-card {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto; }

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center; }

.title-cards h2 {
  font-size: 3em; }

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 400ms ease-out;
  cursor: default; }

.card:hover {
  transform: translateY(-3%); }

.card img {
  width: 100%;
  height: 210px; }

.card .contenido-card {
  text-align: center; }

.card .contenido-card h3 {
  margin-bottom: 15px;
  font-size: 1.15em; }

.card .contenido-card p {
  line-height: 1.8;
  font-size: 14px;
  margin-bottom: 5px; }

.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px; }

.main-portada-imagen img {
  width: 100%;
  height: 245px; }

.col-12 {
  padding: 0px; }
