/* Estilos comunes entre las secciones y index */
/* Mapa */
$headdings:(
    h1: 4em,
    h2: 1.5em,
    h3: 2em,
    h4: 1em,
    h5: 0.75em,
    h6: 0.35em,
);
 $h1: map-get($headdings, h1);
 $h2: map-get($headdings, h2);
 $h3: map-get($headdings, h3);
 $h4: map-get($headdings, h4);
 $h5: map-get($headdings, h5);
 $h6: map-get($headdings, h6);

* {
    margin: 0px;
    padding: 0px;
    
}
.encabezado-logo{
    width: 100px;
    height: 100px;
}
.encabezado-logo img{
    width: 100%;
    height: 100%;
}
.encabezado-titulo h1{
     
    text-align: center;
    font-size: $h1;
  }


.encabezado-menu{
    width: 100%;
    align-items: center;
    margin-left: 11px;
}
.encabezado-menu a{
 
    text-decoration: none;
    font-size: $h2;
  
}


 
.pago{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 font-size: 25px;
          
      }
.pago-efectivo h4, .pago-tarjeta h4, .pago-mercadoPago h4{
          font-size:  $h5;
      }
.pago img{
          width:40px ;
          height: 40px;
      }
.redes{
        display: grid;
        grid-template-rows: 0% 0% 16% 20% 20%;
    grid-template-columns: 100%;
    grid-template-areas:
        "titulo"
        "whatshap"
        "facebook"
        "instagram"
        "parrafo";
    grid-row-gap: 32px;
    
    }
    .redes-titulo{
        grid-area: titulo;
    }
    /* each */
    @each $redes in whatsapp, facebook, instagram {
        .#{$redes}-icon{
            grid-template-rows: 100%;
            grid-template-columns: 16% 5%;
            grid-template-areas: "imagen titulo"
                                 ;
            justify-items:start;
        }
        
    }
    @each $redes in  facebook, instagram {
        .#{$redes}-icon{
            margin-right: 441px;
        }
        
    }
    .whatsapp-icon{
        grid-area: whatshap;
        display: grid;
        
    }
    .redes-whatsapp-imagen{
        grid-area: imagen;
        
    }
    .redes-whatsapp-imagen img{
        
        width: 40px;
        height: 40px;
    }
    .redes-whatsapp-titulo{
        grid-area: titulo;
        margin-left: 40px;
        font-size: $h5;
    }
  
    .facebook-icon{
        grid-area: facebook;
        display: grid;
      
    }
    .redes-facebook-imagen{
        grid-area: imagenf;
        
    
    }
    .redes-facebook-imagen img{
        
        width: 40px;
        height: 40px;
    
    }
    .redes-facebook-titulo{
       grid-area: titulof;
       margin-left: 40px;
       font-size: $h5;
    }
    
    .instagram-icon{
        grid-area: instagram;
        display: grid;
       
    }
    .redes-instagram-imagen{
        grid-area: imageni;
       
    }
    .redes-instagram-imagen img{
        grid-area: imageni;
        width: 40px;
        height: 40px;
    }
    .redes-instagram-titulo{
        grid-area: tituloi;
        margin-left: 40px;
        font-size: $h5;
    }   
   
    .justify-content-md-center{
        margin-top: 15px;
    }
