 /* Estilo propio del index */
 .main-portada-video video{
   
    width: 100%;
    height: 245px;
      
  }
  .col-12{
      padding: 0px;
  }
 .main-productos-productosDestacados-titulo h3{
     font-size: 50px;
     text-align: center;
 }
  .items{
    width: 8rem;
  }
 
  .card-body{
      height: 250px;
  }
 
  .Productos-destacados-card-parrafo p {
      
      margin-top: 25px;
  }